<div id="thing"></div>
<div id="text"></div>
<script type="text/javascript" src="modules/common.js"></script>
<script type="text/javascript" src="modules/board.js"></script>
<script type="text/javascript" src="modules/rect.js"></script>
<script type="text/javascript" src="modules/sprite.js"></script>
<script type="text/javascript" src="modules/engine.js"></script>
<script type="text/javascript" src="modules/init.js"></script>